* {
    margin: 0;
    padding: 0;
    color: var(--fg);
    font-size: medium;
}

:root {
    --fg: ghostwhite;
    --bg: #141414;
    --highlight: #267dff;
    --accent: #000;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    min-height: 300px;
    padding: 20px;
    background-color: var(--accent);
    border-radius: 50px;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.5);
}

progress {
    height: 30px;
    width: 100%;
}

input[type="text"] {
    background-color: transparent;
    border: 1px solid var(--fg);
    padding: 5px;
    border-radius: 100vh;
}

input[type="submit"]:focus, input[type="button"]:focus,
button:focus, input:focus {
    outline: none;
}

button, input[type="submit"], input[type="button"] {
    background-color: var(--highlight);
    border: none;
    padding: 5px;
    border-radius: 5px;
    min-width: 100px;
}

#remote-dialog, #ice-dialog, #transfer-dialog {
    display: none;
}
